<%= provide(:title, 'for Skype - Premium Step 1') %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32983816-1']);
  _gaq.push(['_setDomainName', 'verbalizeit.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<section class="content skypesignup">
    <div class="container">
        <div class="span6">
		    <%= form_for(@user, :html => { :class=>"form-horizontal" }) do |f| %>
		      <div style="class:'errorExplanation, color='#FF0000'"><%= errors_for(@user, "Oops, there was a problem").html_safe %></div>
                <div class="control-group">
			      <%= f.label :name, :class=>"control-label" %>
                    <div class="controls">
				      <%= f.text_field :name, :placeholder => "First and Last", :class => "span4" %>
                    </div>
                </div>
                <div class="control-group">
			      <%= f.label :email, :class=>"control-label" %>
                    <div class="controls">
				      <%= f.text_field :email, :class => "email span4" %>
                    </div>
                </div>
                <div class="control-group">
			      <%= f.label :skype, "Skype Handle", :class=>"control-label" %>
                    <div class="controls">
				      <%= f.text_field :skype, :class=>"skypehandle span4", :placeholder => "your username on Skype" %>
                    </div>
                </div>

                <div class="control-group">
	                <label class="control-label">Language I Need Translated</label>
	                <div class="controls">
						<%= f.select :preferred_language, [ ['Spanish'], ['Mandarin'], ['Hindi'] ], :html => {:class=>"span4 preferredlanguage"} %>
	                </div>				
            	</div>
	            <div class="control-group">
					<label class="control-label">How do you expect to use VerbalizeIt for Skype?</label>					
					<div class="controls">	
		                <label>
		                	<%= f.radio_button(:expected_usage, "Personal") %> Personal
						</label>
						<label>
		                	<%= f.radio_button(:expected_usage, "Business") %> Business
						</label>
						<label>
		                	<%= f.radio_button(:expected_usage, "Both") %> Both
		                </label>
					</div>
				</div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">
                        <input type="submit" class="submit major" value="Sign up for Premium">
                    </div>
                </div>
			 <% end %>	
        </div>
        <div class="span5 offset1">
            <h2 class="highlight">Premium Pricing:</h2>
			<ul>
				<li>1 hour: $25.00 USD</li>
				<li>4 hours: $75.00 USD</li>
				<li>24 hours: $350.00 USD</li>
			</ul>
			<br/>
            <img src="/assets/skype-logo.png">

            <br>
			<h3>Already a Premium Member?</h3> <a class='btn-medium' href='http://skype.verbalizeit.com/upgrade'><span style="margin-left:30px">Add more minutes</span></a>
			<br/><br/><br/>
        </div>

    </div><!-- ./container -->
</section>