<%= provide(:title, 'for Skype - Step 1') %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32630458-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="skype-header" class="row span7 offset4">
<h1>VerbalizeIt for Skype - <br/>English &lt;&gt; Spanish Translation</h1>
<h2>Step 1 - Signup</h2>
<p>Thank you for your interest in VerbalizeIt for Skype!  You just need to sign up and then select a plan.  Please complete the form below to get started.
</p>
</div>

<div class="row">
 <div class="span4" style="background-color: #BCBCBC; border-radius: 5px; color: black;">
	<h3 style='margin:10px'>Already registered? <a class='btn-medium' href='http://skype.verbalizeit.com/upgrade'><br/>Upgrade to premium</a></h3>  <h2 style="margin: 10px">Premium Pricing:</h2>	

<ul>
	<li>60 Minutes: $25.00 USD</li>
	<li>240 Minutes (4 hrs): $75.00 USD</li>
	<li>24 hrs: $350.00 USD</li>
</ul>
 </div>
  <div class="span6">
      <div class="container">
          <div class="span5">
			<div class="control-group">
			    <%= form_for(@user) do |f| %>
			      <div style="class:'errorExplanation, color='#FF0000'"><%= errors_for(@user, "Oops, there was a problem").html_safe %></div>

			      <%= f.label :name, :class=>"control-label" %>
			      <%= f.text_field :name, :placeholder => "First and Last" %>

			      <%= f.label :email, :class=>"control-label" %>
			      <%= f.text_field :email %>

			      <%= f.label :skype, :class=>"control-label" %>
			      <%= f.text_field :skype, :placeholder => "your username on Skype" %>
			
			      <%= f.submit "Sign up for Premium", class: "btn btn-large btn-primary" %>						
			    <% end %>
			</div>
		</div>
	</div>
  </div>
</div>