<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>verbalize.it | <%= yield(:title) %></title>
    <meta content="VerbalizeIt - Human Translation in the Palm of your Hand." property="og:title" />
    <meta content="business" property="og:type" />
    <meta content="http://www.verbalizeit.com/home?" property="og:url" />
    <meta content="http://www.verbalizeit.com/assets/verbalizeitfb.png" property="og:image" />
    <meta content="VerbalizeIt" property="og:site_name" />
    <meta content="dredworks" property="fb:admins" />
    <meta content="Travel with confidence. Travel with VerbalizeIt." property="og:description" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag "bootstrap.min.css", "http://fonts.googleapis.com/css?family=Varela|Varela+Round" %>
    
    <%= stylesheet_link_tag "styles.css" %>
    <%= stylesheet_link_tag "styles2.css"%>
    <link rel="shortcut icon" href="img/favicon.ico">


</head>
<body class="inner">

    <%= render ('shared/header_tag') %>
    <% if content_for? :main_section_content_class %>
     <%= yield :main_section_content_class %>
    <% else %>
        <section class="content">
     <% end %>
        <div class="container">
    <%= render ('/layouts/v2/messages') %>