           </div><!-- ./container -->
    </section><!-- ./section -->
    <footer>
        <div class="container affiliates">
            <div>as seen on</div>
            
            <%= link_to "", '#', :class => "travelchannel" %>
            <%= link_to "", '#', :class => "nationalgeographic" %>
            <%= link_to "", '#', :class => "frommers" %>
            <%= link_to "", '#', :class => "lonelyplanet" %>
            <%= link_to "", '#', :class => "fodors" %>
            <%= link_to "", '#', :class => "kayak" %>
        </div><!-- ./container -->
        <div class="container links">
            <ul class="span3">
                <li class="title">more about verbalize.it</li>
                <li><%= link_to "about us", about_path%></li>
                <li><%= link_to "the team", the_team_path%></li>
                <li><%= link_to "traveler FAQ", traveler_faq_path%></li>
                <li><%= link_to "press", press_path%></li>
            </ul>
            <ul class="span3">
                <li class="title">our services</li>
                <li><%= link_to "pricing", '#'%></li>
                <li><%= link_to "group rates", '#'%></li>
                <li><%= link_to "business rates", '#'%></li>
                <li><%= link_to "verbalize.it for your site", '#'%></li>
            </ul>
            <ul class="span3">
                <li class="title">translators</li>
                <li><%= link_to "translator FAQ", interpretor_faq_path %></li>
                <li><%= link_to "become a translator", translator_landing_path %></li>
            </ul>
            <ul class="span3 contact">

                <li> <%= link_to "follow us on twitter", '#', :class => "twitter" %></li>
                <li> <%= link_to "follow us on facebook", '#', :class => "facebook" %></li>
                <li> <%= link_to "drop an email", '#', :class => "email" %></li>
                <li> <%= link_to "give us a call", '#', :class => "call" %></li>
            </ul>
        </div><!-- ./container -->
        <div class="container copyright">
            Copyright 2012, Verbalize.it Inc  All Rights Reserved.
        </div><!-- ./container -->
    </footer>
    <%= javascript_include_tag "v2/jquery-min.js", "v2/underscore-min.js", "v2/backbone-min.js", "v2/bootstrap.min.js","v2/less-min.js", "bootstrap-carousel.js" %>
    <script type="text/javascript">
      $(document).ready(function(){

        $('.carousel').carousel({
            interval: 3000
        })
      });
    </script>
    <!--
    <script type="text/javascript">
         document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">
     SnapABug.addButton("a656be5c-d0dc-4b4f-b255-aa24d5fbf2c6","0","55%");
     </script>
     -->
    
   
    <!--[if lt IE 9]>
        <script src="v2/html5shiv.js"></script>
    <![endif]-->

</body>
</html>